 
.second-div{
    display: flex;
    justify-content: space-around;
    align-items: center;

 
.content{ 
    position: relative;
    top: 0;left: 0;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    min-height: 700px;    

    .accupation{  
        opacity: 0;
        animation: toRight 1s .5s forwards; 
        padding: 20px;
        max-width: 500px;
 
        h1{
            color: #b4b4b4 ;
            font-size: 22px; 
            padding: 10px;  
            font-weight: 400;
            -webkit-text-stroke: 1px #666666;
             
        }
  
    }
   

    .image{ 
        border-radius: 50%;  
        width: 300px; 
        position: relative;
        opacity: 0;
        animation: toLeft 1s .5s forwards; 
        border-bottom: 25px solid rgba(255, 205, 205, 0.26);   

        .image-back{ 
            width: 300px;
            height: 300px;
            z-index: -2;
            position: absolute;
            top: 0;
            right: 0;  
            border-radius: 68% 32% 32% 68% / 39% 30% 70% 61% ;
            background: var(--linear-gradient);  
            animation: rotateClock 60s linear infinite alternate;
            box-shadow: var(--box-shadow); 
            transition: all .3s ease-in-out;
            opacity: 0.3;    

        
        }
 

        img{
            width: 300px;  
            border-radius: 50%; 
            transition: all .3s ease-in-out;
            cursor: none;
            mix-blend-mode: color; 
        } 
    }

    .image img:hover ~ .image-back{
        animation-play-state: paused; 
    }

}
}


.copyright{
    position: relative;
    bottom: 0; 
    width: 100%; 
    padding: 20px;
    text-align: center;
    color: rgb(219, 148, 157);
    transition: all .3s ease .5s; 

    p{
        font-size: 20px;
        font-weight: 600;

        a{
            color: rgb(119, 165, 252); 
 
        }
    }
}

.copyright.active{
    z-index: 10;
    position: absolute;
    bottom: 30px; 
    opacity: 0;
    animation: toUp .5s forwards linear;
}


 .effects{ 

         #effect8{
         position: fixed;
         height: 20px;
         width: 20px; 
         top: -50px;
         z-index: -1;
         left: 900px;
         transition: all linear 100ms;
         border-radius: 50% ;
         background: var(--linear-gradient);  
         mix-blend-mode: multiply;  
         animation: rotateClock 30s linear infinite alternate;
         box-shadow: var(--box-shadow); 
         }
     
 

 }

 .chat{ 
    position: fixed;
    bottom: 0;right: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 8;
    

    i{
        z-index: 11; 
        background : linear-gradient(15deg, rgba(155, 148, 63, 0.39),rgba(102, 186, 255, 0.959),rgb(124, 156, 97),rgba(142, 247, 255, 0.637));
        color: transparent;
        -webkit-background-clip: text;
        border-radius: 3px;
        font-size: 20px;
        border: 2px solid rgba(246, 246, 246, 0.76); 
        -webkit-text-stroke: 2px rgba(51, 49, 49, 0.616);
        transition: all .3s linear;  
        padding: 5px; 
        box-shadow: var(--box-shadow); 


       }

       .chatBack{
           position: fixed;
           bottom: 0;right: 0;
           width: 450px;
           height: 600px; 
           border-top-left-radius: 5px;  
           transform: scale(0);  
           transform-origin: right bottom;
           overflow: hidden !important; 
           z-index: 9 ;
           transition: all .5s;   

           .msg-chat{
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;

               h3{
                   font-size: 22px;
                   text-transform: capitalize;
                   padding: 10px;
                   color: rgb(168, 168, 168); 
                   text-align: center; 
                   flex: 1; 
                   font-weight: 400;
                   width: 90%; 
                   -webkit-text-stroke: 2px rgba(95, 95, 95, 0.616); 
               } 

               #fetch-msg{  
                   width: 100%;
                   overflow-y: auto !important;
                   position: absolute;
                   left: 0;
                   right: 0;
                   top: 60px;
                   bottom: 50px; 
                   padding: 10px 5%;  
                   font-size: 18px;
                   font-weight: 500;

                  

                   .sender{  
                       padding: 5px;
                       text-align: right; 
                       color: rgb(167, 34, 34); 
                       border-right: 2px solid rgb(161, 29, 29);
                       border-radius: 5px;

                       span{
                           color: gray ;
                           font-size: 15px;
                       }
                   }

                   .reciver{  
                       padding: 5px;
                       text-align: left;
                       color: rgb(34, 76, 167); 
                       border-left: 2px solid rgb(29, 71, 161);
                       border-radius: 5px;

                       span{
                        color: gray ;
                        font-size: 15px;
                    }
                    
                   }
               }

               ::-webkit-scrollbar{
                width: 0;
            }

               .inputs{
                   width: 100%; 
                   height: 50px;
                   position: absolute;
                   bottom: 0;left: 0;right: 0; 
                   display: flex;
                   justify-content: center;
                   align-items: flex-start; 

                   input{ 
                    width: 70%;
                    font-size: 17px;
                    font-weight: 600;
                    padding: 4px;
                    text-indent: 5px; 
                    color: #666666;
                    border: none;
                    box-shadow: var(--box-shadow); 
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    // border: 2px solid rgba(246, 246, 246, 0.76); 
                     
                }

                   button{ 
                       padding: 4px 6px;
                       font-size: 20px;
                       border-top-right-radius: 4px;
                       border-bottom-right-radius: 4px;
                       border: none;
                       background : linear-gradient(15deg, rgba(155, 148, 63, 0.39),rgba(102, 186, 255, 0.959),rgb(124, 156, 97),rgba(142, 247, 255, 0.637));
                       color: transparent;
                       -webkit-background-clip: text;  
                       box-shadow: var(--box-shadow);
                       -webkit-text-stroke: 2px rgba(51, 49, 49, 0.616);
                   }
               }
           }
       }
 
       :hover{ 
        box-shadow: none;
        border-color: rgb(212, 245, 255);
    } 

} 

.chatBack::after{
content: "";
background-color: transparent; 
position: absolute;
bottom: -50px; 
right: -50px;
font-size: 25px; 
width: 100px;
border-radius: 50%; 
height: 100px;
transform: scale(0);
z-index: -1;   
transition: all 1s ease; 
background: var(--linear-gradient);  
       
}

.chatBack.active::after{ 
transform: scale(25) !important;
}  
 
.chatBack.active{ 
    transform: scale(1) !important;
}  
 


/*****************************************
this is part of skill of css
*****************************************/

.skills{  
    
    h2{
        text-align: center;
        padding: 25px 0px;
        color: rgb(102, 102, 102);
        text-transform: capitalize;
        -webkit-text-stroke: 1px rgb(75, 75, 75);
        transform: scale(0);
        animation: popUp 1s 1s forwards;
    }
    
    .skills-div{ 
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;   
        margin: auto;
        padding-bottom: 100px ;
        flex-wrap: wrap; 
        max-width: 1000px; 
        transition: all .3s ;

        .skill{
            display: flex;
            justify-content: center;
            align-items: center;   
            width: 400px;
            height: 50px; 
            box-shadow: var(--box-shadow);
            margin: 10px 20px;
            padding: 0px 20px;
            transform: scale(0);

            .skill-title{
                color: gray ;  
                width: 100px; 
                font-weight: bold;
                font-size: 18px;
                text-transform: capitalize;
            }

            .skill-position{ 
                border: 2px solid rgba(128, 128, 128, 0.527) !important;
                height: 20px;
                border-radius: 50px;
                width: 100%;
                position: relative;
            }

        }
        
            

        :nth-child(1) .skill-title{ 
            color: rgb(163, 159, 99) ;
            -webkit-text-stroke: 1px rgb(146, 142, 88) ;
        }
        :nth-child(2) .skill-title{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        }
        :nth-child(3) .skill-title{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        }
        :nth-child(4) .skill-title{ 
            color: rgb(133, 133, 133) ;
            -webkit-text-stroke: 1px rgb(77, 77, 77) ;
        }
        :nth-child(5) .skill-title{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        }
        :nth-child(6) .skill-title{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        }
        :nth-child(7) .skill-title{ 
            color: rgb(133, 133, 133) ;
            -webkit-text-stroke: 1px rgb(77, 77, 77) ; 
        }
        :nth-child(8) .skill-title{ 
            color: rgb(163, 159, 99) ;
            -webkit-text-stroke: 1px rgb(146, 142, 88) ;
        }
        :nth-child(9) .skill-title{ 
            color: rgb(68, 123, 126) ;
            -webkit-text-stroke: 1px rgb(71, 123, 126) ;
        }
        :nth-child(10) .skill-title{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        }
    }
         
        
    .active .skill:nth-child(1){
        animation: popUp 1s forwards ; 
    }
    .active .skill:nth-child(2){
        animation: popUp 1s .2s forwards ;
    }
    .active .skill:nth-child(3){
        animation: popUp 1s .3s forwards ;
    }
    .active .skill:nth-child(4){
        animation: popUp 1s .4s forwards ;
    }
    .active .skill:nth-child(5){
        animation: popUp 1s .5s forwards ;
    }
    .active .skill:nth-child(6){
        animation: popUp 1s .6s forwards ;
    } 
    .active .skill:nth-child(7){
        animation: popUp 1s .7s forwards ;
    } 
    .active .skill:nth-child(8){
        animation: popUp 1s .8s forwards ;
    } 
    .active .skill:nth-child(9){
        animation: popUp 1s .9s forwards ;
    } 
    .active .skill:nth-child(10){
        animation: popUp 1s 1s forwards ;
    } 

    .skill-position::before{
        position: absolute;
        top: 0;left: 0;
        content: attr(data-persent); 
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;   
        color: rgb(75, 75, 75);
        font-size: 10px;
        overflow: hidden;
        transition: all .3s;
        height: 100%;
        border-right: 2px solid gray;  
        width: 0px; 
        background: var(--linear-gradient);
    }
    
    
     

.active .skill:nth-child(1) .skill-position::before{   
    animation: width90 .5s .5s forwards;
}
.active .skill:nth-child(2) .skill-position::before{  
    animation: width80 .5s 1s forwards;
}
.active .skill:nth-child(3) .skill-position::before{  
    animation: width80 .5s 1.5s forwards;
}
.active .skill:nth-child(4) .skill-position::before{  
    animation: width70 .5s 2s forwards;
}
.active .skill:nth-child(5) .skill-position::before{  
    animation: width80 .5s 2.5s forwards;
}
.active .skill:nth-child(6) .skill-position::before{  
    animation: width80 .5s 3s forwards;
}
.active .skill:nth-child(7) .skill-position::before{  
    animation: width95 .5s 3.5s forwards;
}
.active .skill:nth-child(8) .skill-position::before{ 
    animation: width80 .5s 4s forwards; 
}
.active .skill:nth-child(9) .skill-position::before{ 
    animation: width95 .5s 4.5s forwards; 
}
.active .skill:nth-child(10) .skill-position::before{ 
    animation: width95 .5s 5s forwards; 
}

} 

.navigation.hide{
    z-index: -1 !important;
}


.education{
    position: relative; 
    width: 100%; 


    h2{
        text-align: center;
        padding: 25px 0px;
        color: rgb(102, 102, 102);
        text-transform: capitalize;
        -webkit-text-stroke: 1px rgb(75, 75, 75);
        // transform: scale(0);
        // animation: popUp 1s 1s forwards;
    }

        
    .education-div{ 
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;   
        margin: auto;
        padding-bottom: 100px ;
        flex-direction: column;
        max-width: 1000px; 
        transition: all .3s ; 
        position: relative;

        .course{ 
            width: 100%;
            max-width: 600px; 
            border-left: 2px solid gray;   
            transition: .3s; 
            overflow: hidden;

            div{
                width: 100%;
                height: 100%; 
                border: none; 
                padding: 0px 30px;
                padding-bottom: 40px;
                position: relative;
                transition: all .3s .5s ;
                left: -100%;
                overflow: hidden; 

                code{
                    color: rgb(209, 124, 129) ;
                    -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
                }

                h4{
                    color: rgb(163, 159, 99) ;
                    -webkit-text-stroke: 1px rgb(146, 142, 88) ;
                }
                p{
                    color: #696969;
                    padding: 5px 0px;
                }
            }

            div::before{
                content: "";
                top: 0;left: -8px;
                position: absolute;
                height: 10px;
                width: 10px;
                background: var(--linear-gradient);
                border: 2px solid gray;
                border-radius: 50%; 
                transition: all 1s ;   
            }
            div::after{
                content: "";
                top: -100%;
                left: -50%;
                position: absolute;
                height: 500px;
                transform: scale(.03);
                width:500px;
                transform-origin: top left;
                background: var(--linear-gradient); 
                border-radius: 50%;
                transition: all 1s linear;  
                z-index: -1;
                border: 1px solid gray;
            }
            div:hover::after{  
                transform: scale(3);
            }
 
            div:hover{   
                box-shadow: var(--box-shadow);
            }
 
        } 
        
    } 
    .active .course:nth-child(1) div{   
        animation: left0 forwards .5s linear;
        h4,code{ 
        color: rgb(133, 133, 133) ;
        -webkit-text-stroke: 1px rgb(77, 77, 77) ; 
        }
    }
    .active .course:nth-child(2) div{   
        animation: left0 forwards .5s .5s linear;
        h4,code{ 
            color: rgb(163, 159, 99) ;
            -webkit-text-stroke: 1px rgb(146, 142, 88) ;
        }
    }
    .active .course:nth-child(3) div{   
        animation: left0 forwards .5s 1s linear;
        h4,code{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        }
    }
    
}

@media (max-width:900px){
    .content{
        flex-direction: column-reverse;
        margin-top: -20px;
    }

    .image{  
        width: 230px !important; 

        .image-back{ 
            width: 230px !important;
            height: 230px !important;
        }

        
        .image-back.active{
            position: fixed !important; 
            height: 1000px !important;
            width: 1000px !important;   
            top: -10vh !important;
            overflow: hidden !important;
            right: -30vh !important;
            z-index: 10 !important; 
            opacity: 1 !important;
            animation-play-state: paused !important;
        }

     
        img{
            width: 230px !important;  
        } 
    }

 
.skills{
    .skills-div{  
        flex-direction: column; 

        .skill{  
            width: 80%;
        }
    }
}

.chatBack{
    height: 100vh !important;
    width: 100% !important; 
}
 


}


 

@media (max-width:700px){ 
    .skill{  
        width: 90% !important;
    }


}
  