.second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-div .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  min-height: 700px;
}

.second-div .content .accupation {
  opacity: 0;
  -webkit-animation: toRight 1s .5s forwards;
          animation: toRight 1s .5s forwards;
  padding: 20px;
  max-width: 500px;
}

.second-div .content .accupation h1 {
  color: #a39f63;
  font-size: 22px;
  padding: 10px;
  font-weight: 400;
  -webkit-text-stroke: 1px #888448;
}

.second-div .content .image {
  border-radius: 50%;
  width: 300px;
  border-bottom: 25px solid rgba(255, 205, 205, 0.26);
  position: relative;
  opacity: 0;
  -webkit-animation: toLeft 1s .5s forwards;
          animation: toLeft 1s .5s forwards;
}

.second-div .content .image .image-back {
  width: 300px;
  height: 300px;
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 68% 32% 32% 68% / 39% 30% 70% 61%;
  background: var(--linear-gradient);
  -webkit-animation: rotateClock 60s linear infinite alternate;
          animation: rotateClock 60s linear infinite alternate;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0.3;
}

.second-div .content .image img {
  width: 300px;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: none;
}

.second-div .content .image img:hover ~ .image-back {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #db949d;
  -webkit-transition: all .3s ease .5s;
  transition: all .3s ease .5s;
}

.copyright p {
  font-size: 20px;
  font-weight: 600;
}

.copyright p a {
  color: #77a5fc;
}

.copyright.active {
  z-index: 10;
  position: absolute;
  bottom: 30px;
  opacity: 0;
  -webkit-animation: toUp .5s forwards linear;
          animation: toUp .5s forwards linear;
}

.effects #effect8 {
  position: fixed;
  height: 20px;
  width: 20px;
  top: -50px;
  z-index: -1;
  left: 900px;
  -webkit-transition: all linear 100ms;
  transition: all linear 100ms;
  border-radius: 50%;
  background: var(--linear-gradient);
  mix-blend-mode: multiply;
  -webkit-animation: rotateClock 30s linear infinite alternate;
          animation: rotateClock 30s linear infinite alternate;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.setting {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  z-index: 8;
}

.setting i {
  z-index: 11;
  background: linear-gradient(15deg, rgba(155, 148, 63, 0.39), rgba(102, 186, 255, 0.959), #7c9c61, rgba(142, 247, 255, 0.637));
  color: transparent;
  -webkit-background-clip: text;
  border-radius: 3px;
  font-size: 20px;
  border: 2px solid rgba(246, 246, 246, 0.76);
  -webkit-text-stroke: 2px rgba(51, 49, 49, 0.616);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  padding: 5px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.setting :hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #d4f5ff;
}

.setting .items::after {
  content: "";
  background-color: transparent;
  position: fixed;
  bottom: -50px;
  right: -50px;
  font-size: 25px;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: var(--linear-gradient);
}

.setting .items.active::after {
  -webkit-transform: scale(3.3);
          transform: scale(3.3);
}

/*****************************************
this is part of skill of css
*****************************************/
.skills h2 {
  text-align: center;
  padding: 25px 0px;
  color: #666666;
  text-transform: capitalize;
  -webkit-text-stroke: 1px #4b4b4b;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: popUp 1s 1s forwards;
          animation: popUp 1s 1s forwards;
}

.skills .skills-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.skills .skills-div .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 50px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  margin: 10px 20px;
  padding: 0px 20px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.skills .skills-div .skill .skill-title {
  color: gray;
  width: 100px;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.skills .skills-div .skill .skill-position {
  border: 2px solid rgba(128, 128, 128, 0.527) !important;
  height: 20px;
  border-radius: 50px;
  width: 100%;
  position: relative;
}

.skills .skills-div :nth-child(1) .skill-title {
  color: #a39f63;
  -webkit-text-stroke: 1px #928e58;
}

.skills .skills-div :nth-child(2) .skill-title {
  color: #8180a5;
  -webkit-text-stroke: 1px #747397;
}

.skills .skills-div :nth-child(3) .skill-title {
  color: #d17c81;
  -webkit-text-stroke: 1px #b6797d;
}

.skills .skills-div :nth-child(4) .skill-title {
  color: #447b7e;
  -webkit-text-stroke: 1px #477b7e;
}

.skills .skills-div :nth-child(5) .skill-title {
  color: #8180a5;
  -webkit-text-stroke: 1px #747397;
}

.skills .skills-div :nth-child(6) .skill-title {
  color: #d17c81;
  -webkit-text-stroke: 1px #b6797d;
}

.skills .skills-div :nth-child(7) .skill-title {
  color: #858585;
  -webkit-text-stroke: 1px #4d4d4d;
}

.skills .skills-div :nth-child(8) .skill-title {
  color: #a39f63;
  -webkit-text-stroke: 1px #928e58;
}

.skills .active .skill:nth-child(1) {
  -webkit-animation: popUp 1s forwards;
          animation: popUp 1s forwards;
}

.skills .active .skill:nth-child(2) {
  -webkit-animation: popUp 1s .2s forwards;
          animation: popUp 1s .2s forwards;
}

.skills .active .skill:nth-child(3) {
  -webkit-animation: popUp 1s .3s forwards;
          animation: popUp 1s .3s forwards;
}

.skills .active .skill:nth-child(4) {
  -webkit-animation: popUp 1s .4s forwards;
          animation: popUp 1s .4s forwards;
}

.skills .active .skill:nth-child(5) {
  -webkit-animation: popUp 1s .5s forwards;
          animation: popUp 1s .5s forwards;
}

.skills .active .skill:nth-child(6) {
  -webkit-animation: popUp 1s .6s forwards;
          animation: popUp 1s .6s forwards;
}

.skills .active .skill:nth-child(7) {
  -webkit-animation: popUp 1s .7s forwards;
          animation: popUp 1s .7s forwards;
}

.skills .active .skill:nth-child(8) {
  -webkit-animation: popUp 1s .8s forwards;
          animation: popUp 1s .8s forwards;
}

.skills .skill-position::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-persent);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4b4b4b;
  font-size: 10px;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 100%;
  border-right: 2px solid gray;
  width: 0px;
  background: var(--linear-gradient);
}

.skills .active .skill:nth-child(1) .skill-position::before {
  -webkit-animation: width90 .5s .5s forwards;
          animation: width90 .5s .5s forwards;
}

.skills .active .skill:nth-child(2) .skill-position::before {
  -webkit-animation: width80 .5s 1s forwards;
          animation: width80 .5s 1s forwards;
}

.skills .active .skill:nth-child(3) .skill-position::before {
  -webkit-animation: width80 .5s 1.5s forwards;
          animation: width80 .5s 1.5s forwards;
}

.skills .active .skill:nth-child(4) .skill-position::before {
  -webkit-animation: width90 .5s 2s forwards;
          animation: width90 .5s 2s forwards;
}

.skills .active .skill:nth-child(5) .skill-position::before {
  -webkit-animation: width80 .5s 2.5s forwards;
          animation: width80 .5s 2.5s forwards;
}

.skills .active .skill:nth-child(6) .skill-position::before {
  -webkit-animation: width80 .5s 3s forwards;
          animation: width80 .5s 3s forwards;
}

.skills .active .skill:nth-child(7) .skill-position::before {
  -webkit-animation: width95 .5s 3.5s forwards;
          animation: width95 .5s 3.5s forwards;
}

.skills .active .skill:nth-child(8) .skill-position::before {
  -webkit-animation: width70 .5s 4s forwards;
          animation: width70 .5s 4s forwards;
}

@media (max-width: 900px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: -20px;
  }
  .image {
    width: 230px !important;
  }
  .image .image-back {
    width: 230px !important;
    height: 230px !important;
  }
  .image .image-back.active {
    position: fixed !important;
    height: 1000px !important;
    width: 1000px !important;
    top: -10vh !important;
    overflow: hidden !important;
    right: -30vh !important;
    z-index: 10 !important;
    opacity: 1 !important;
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
  }
  .image img {
    width: 230px !important;
  }
  .skills .skills-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills .skills-div .skill {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .skill {
    width: 90% !important;
  }
}
/*# sourceMappingURL=about.css.map */