  
.second-div{
    display: flex;
    justify-content: space-around;
    align-items: center;

 
.content{ 
    position: relative;
    top: 0;left: 0;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    min-height: 700px;     
    margin: 10px;

    .accupation{  
        opacity: 0;
        animation: toRight 1s .5s forwards;  
        padding: 20px; 
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2{
            text-align: center;
            padding: 25px 0px;
            color: rgb(102, 102, 102);
            text-transform: capitalize;
            -webkit-text-stroke: 1px rgb(75, 75, 75);
            transform: scale(0);
            animation: popUp 1s 1s forwards;
        }

        .contact-form{ 
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100% ; 
            position: relative;
            padding: 40px 20px; 

            .input-feilds{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column; 
                width: 100% !important;  
                border: none;   
                margin: 0px 10px;

                label{ 
                    width: 100%;
    

                input{ 
                    padding: 6px; 
                    top: 0;left: 0;
                    text-indent: 5px;
                    font-size: 18px;
                    border: none;
                    width: 100%;
                    background: transparent;
                    box-shadow: var(--box-shadow);
                    margin: 10px 0px;
                    border-radius: 3px;
                    color: #333;
                    transition: all .3s;

                }

                :focus{
                    background: rgba(255, 255, 255, 0.2);
                }
                
            }

                textarea{
                    max-width: 100%; 
                    width: 100%; 
                    flex: 4;
                    border-radius: 3px;
                    color: #333;
                    margin: 10px 0px;
                    border: none;
                    background: transparent;
                    box-shadow: var(--box-shadow);
                    padding: 6px;
                    text-indent: 5px;
                    height: 135px;
                    max-height: 135px;
                    font-size: 18px;
                }
            }

        }

        #sendContact{
            width: 200px;
            font-size: 19px; 
            background-color: transparent;
            padding: 7px;
            cursor: pointer;
            border-radius: 3px;
            font-weight: bold;
            margin: 10px 5px;
            position: relative;
            transition: all .3s .3s linear;
            border: none;
            overflow: hidden;
            box-shadow: var(--box-shadow); 
            color: rgb(119, 165, 252);  

        }
        #sendContact::after{
            position: absolute;
            content: "";
            top: -250%;
            right: 0%;
            width: 150px;
            transform: scale(0);
            line-height: 30px;
            text-transform: uppercase;
            height: 150px; 
            border: 2px solid rgba(246, 246, 246, 0.76); 
            border-radius: 50%;
            background-color: rgba(180, 234, 255, 0.404);
            transition: all .5s linear;  
            z-index: -1;
        }

        #sendContact:hover::after{
            transform: scale(3.5);
        }

        #sendContact:hover{ 
            color: rgb(163, 159, 99) !important;
        } 


        .contact-form::after{
            position: absolute;
            content: "";
            top: 0;left: 0;
            opacity: 0.5;
            height: 100%;
            width: 100%;
            background: var(--linear-gradient);
            filter: blur(2px);
            z-index: -1;
        }
  
    }
   

    .image{     
        position: relative;
        top: 0;left: 0;
        width: 80%; 
        max-width: 400px;
        opacity: 0; 
        animation: toLeft 1s .5s forwards;  

       
    .contact-div{     
        display: flex;
        justify-content: center;
        align-items: center;  
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;

        .contact{   
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
            transition: all .3s ;
            border-radius: 3px;  
            position: relative; 
            position: relative;
            overflow: hidden;
            transform: scale(0);
            padding: 15px;
            margin: 10px;
            box-shadow: var(--box-shadow);  
            width: 100%; 
            max-width: 300px; 

            .contact-icon{ 
                font-size: 20px; 
                font-weight: bold;
                background : linear-gradient(15deg, rgba(255, 248, 145, 0.39),rgba(255, 182, 188, 0.959),rgb(201, 200, 255),rgba(142, 247, 255, 0.637));
                color: transparent;
                -webkit-background-clip: text;
                -webkit-text-stroke: 1px rgba(150, 51, 51, 0.616);
                transition: all .2s .7s;
            }

            .contact-header{ 
                font-size: 20px;
                padding: 5px;
                text-transform: capitalize;
                color: rgb(163, 159, 99) ;
                -webkit-text-stroke: 1px rgb(146, 142, 88) ;
            }

            .contact-body{
                text-align: center;  
                color: #6e6e6e ;
                font-size: 18px;
            }
        } 

        .contact::before{
            content: "";
            position: absolute;
            height: 700px;
            width: 700px;
            background: rgba(248, 247, 247, 0.178); 
            filter: blur(5px);
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            border-radius: 50%; 
            transition: all 1s;
        }

        :hover::before{
            transform: scale(.5);
        } 

        :nth-child(1) .contact-header{ 
            color: rgb(163, 159, 99) ;
            -webkit-text-stroke: 1px rgb(146, 142, 88) ;
        }
        :nth-child(2) .contact-header{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        }
        :nth-child(3) .contact-header{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        }

        :hover:nth-child(1) .contact-icon{ 
            color: rgb(163, 159, 99) ;
            -webkit-text-stroke: 1px rgb(146, 142, 88) ;
        } 
        :hover:nth-child(2) .contact-icon{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        } 
        :hover:nth-child(3) .contact-icon{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        } 

        .contact:nth-child(1){
            animation: popUp 1s forwards ;
        }
        .contact:nth-child(2){
            animation: popUp 1s .3s forwards ;
        }
        .contact:nth-child(3){
            animation: popUp 1s .6s forwards ;
        }



    }
    



        .image-back{ 
            width: 300px;
            height: 300px;
            z-index: -2;
            position: absolute;
            top: 0;
            right: 0;  
            border-radius: 68% 32% 32% 68% / 39% 30% 70% 61% ;
            background: var(--linear-gradient);  
            animation: rotateClock 60s linear infinite alternate;
            box-shadow: var(--box-shadow); 
            transition: all .3s ease-in-out;
            opacity: 0.3;   

        
        } 
    
    }
 

}
}


.copyright{
    position: relative;
    bottom: 0; 
    width: 100%; 
    padding: 20px;
    text-align: center;
    color: rgb(219, 148, 157);
    transition: all .3s ease .5s;  

    p{
        font-size: 20px;
        font-weight: 600;

        a{
            color: rgb(119, 165, 252); 
 
        }
    }
}

.copyright.active{
    z-index: 10;
    position: absolute;
    bottom: 30px; 
    opacity: 0;
    animation: toUp .5s forwards linear;
}


 .effects{ 

         #effect8{
         position: fixed;
         height: 20px;
         width: 20px; 
         top: -50px;
         z-index: -1;
         left: 900px;
         transition: all linear 100ms;
         border-radius: 50% ;
         background: var(--linear-gradient);  
         mix-blend-mode: multiply;  
         animation: rotateClock 30s linear infinite alternate;
         box-shadow: var(--box-shadow); 
         } 
 }

 

 .chat{ 
    position: fixed;
    bottom: 0;right: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 8;
    

    i{
        z-index: 11; 
        background : linear-gradient(15deg, rgba(155, 148, 63, 0.39),rgba(102, 186, 255, 0.959),rgb(124, 156, 97),rgba(142, 247, 255, 0.637));
        color: transparent;
        -webkit-background-clip: text;
        border-radius: 3px;
        font-size: 20px;
        border: 2px solid rgba(246, 246, 246, 0.76); 
        -webkit-text-stroke: 2px rgba(51, 49, 49, 0.616);
        transition: all .3s linear;  
        padding: 5px; 
        box-shadow: var(--box-shadow); 


       }

       .chatBack{
           position: fixed;
           bottom: 0;right: 0;
           width: 450px;
           height: 600px; 
           border-top-left-radius: 5px;  
           transform: scale(0);  
           transform-origin: right bottom;
           overflow: hidden !important; 
           z-index: 9 ;
           transition: all .5s;   

           .msg-chat{
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;

               .admin{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                width: 100%;
                background: var(--linear-gradient);
                padding: 10px 20px;

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 30px;
                        border-radius: 100px;
                    }
                    span{
                        font-size: 20px;
                        font-weight: 500;
                        text-transform: capitalize;
                        padding-left: 15px;
                    }

                    i{
                        font-size: 17px;
                        box-shadow: none;
                        border: none;
                        margin: 0px 5px;
                    }

                    .fa-ellipsis-v:hover ~ p{
                        opacity: 1;
                        visibility: visible;
                    }

                    p{
                        color: #666666;
                        position: absolute;
                        top: 50px; 
                        z-index: 12;
                        right: 0;
                        transition: all .3s linear;
                        text-align: center;
                        font-size: 20px;
                        opacity: 0;
                        visibility: hidden;
                        padding: 5px 10px; 
                        background-color: rgb(243, 243, 243);
                    }
 
                }
            }

            
               #fetch-msg{  
                   width: 100%;
                   overflow-y: auto !important;
                   position: absolute;
                   left: 0;
                   right: 0;
                   top: 50px;
                   bottom: 50px; 
                   padding: 10px 5%;  
                   font-size: 18px;
                   font-weight: 500;

                  

                   .sender{  
                       padding: 5px;
                       text-align: right; 
                       color: rgb(167, 34, 34); 
                       border-right: 2px solid rgb(161, 29, 29);
                       border-radius: 5px;

                       
                       span{
                        color: gray ;
                        font-size: 15px;
                       }
                   }

                   .reciver{  
                       padding: 5px;
                       text-align: left;
                       color: rgb(34, 76, 167); 
                       border-left: 2px solid rgb(29, 71, 161);
                       border-radius: 5px;

                       
                       span{
                        color: gray ;
                        font-size: 15px;
                       }
                   }
               }

               ::-webkit-scrollbar{
                width: 0;
            }

               .inputs{
                   width: 100%; 
                   height: 50px;
                   position: absolute;
                   bottom: 0;left: 0;right: 0; 
                   display: flex;
                   justify-content: center;
                   align-items: flex-start; 

                   input{ 
                    width: 70%;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 6px;
                    text-indent: 5px; 
                    color: #666666;
                    border: none;
                    box-shadow: var(--box-shadow); 
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;  
                }

                   button{ 
                       padding: 6px;
                       font-size: 20px;
                       border-top-right-radius: 4px;
                       border-bottom-right-radius: 4px;
                       border: none;
                       background : linear-gradient(15deg, rgba(155, 148, 63, 0.39),rgba(102, 186, 255, 0.959),rgb(124, 156, 97),rgba(142, 247, 255, 0.637));
                       color: transparent;
                       -webkit-background-clip: text;  
                       box-shadow: var(--box-shadow);
                       -webkit-text-stroke: 2px rgba(51, 49, 49, 0.616);
                   }
               }
           }
       }
 
       :hover{ 
        box-shadow: none;
        border-color: rgb(212, 245, 255);
    } 

} 

.chatBack::after{
content: "";
background-color: transparent; 
position: absolute;
bottom: -50px; 
right: -50px;
font-size: 25px; 
width: 100px;
border-radius: 50%; 
height: 100px;
transform: scale(0);
z-index: -1;   
transition: all 1s ease; 
background: var(--linear-gradient);  
       
}

.chatBack.active::after{ 
transform: scale(25) !important;
}  
 
.chatBack.active{ 
    transform: scale(1) !important;
}  








.social-media{
    position: relative;
    top: 0;left: 0; 
    width: 100%; 
    padding: 50px 0px;
    padding-bottom: 100px;
    background: rgba(255,255,255,0.1);
 
    h2{
        text-align: center;
        padding: 25px 0px;
        color: rgb(102, 102, 102);
        text-transform: capitalize;
        -webkit-text-stroke: 1px rgb(75, 75, 75); 
    }

    .social-div{ 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap; 

        a{
            width: 90px;
            height: 90px;
            box-shadow: var(--box-shadow);
            display: flex;
            justify-content: center;
            align-items: center; 
            flex-direction: column;
            margin: 5px;
            border-radius: 50%;
            transition: all .3s ;
            transform: scale(0);

            i{
                font-size: 20px; 
                font-weight: bold;
                background : linear-gradient(15deg, rgba(255, 248, 145, 0.39),rgba(255, 182, 188, 0.959),rgb(201, 200, 255),rgba(142, 247, 255, 0.637));
                color: transparent;
                -webkit-background-clip: text;
                -webkit-text-stroke: 1px rgba(150, 51, 51, 0.616);
                transition: all .2s .7s;
                box-shadow: var(--box-shadow);
                display: flex;
                justify-content: center;
                align-items: center; 
                width: 40px;
                border-radius: 50%;
                height: 40px;
                transition: all .3s ;
            }

            span{
                color: gray; 
                font-weight: 400;
                text-transform: capitalize;
                font-size: 13px;
                padding: 5px;
                transition: all .3s ;
            }
        }

            a:nth-child(1){  
                color: rgb(163, 159, 99) ;
                -webkit-text-stroke: 1px rgb(146, 142, 88) ;
            }
            a:nth-child(2){ 
                color: rgb(129, 128, 165) ;
                -webkit-text-stroke: 1px rgb(116, 115, 151);
            }
            a:nth-child(3){ 
                color: rgb(209, 124, 129) ;
                -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
            }
            a:nth-child(4){ 
                color: rgb(133, 133, 133) ;
                -webkit-text-stroke: 1px rgb(129, 129, 129) ;
            }
            a:nth-child(5){ 
                color: rgb(129, 128, 165) ;
                -webkit-text-stroke: 1px rgb(116, 115, 151);
            }
            a:nth-child(6){ 
                color: rgb(209, 124, 129) ;
                -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
            }

            
            a:nth-child(1).active {  
                flex-direction: column-reverse; 
            }  
            a:nth-child(2).active{ 
                flex-direction: column-reverse;
            }
            a:nth-child(3).active{ 
                flex-direction: column-reverse;
            }
            a:nth-child(4).active{ 
                flex-direction: column-reverse;
            }
            a:nth-child(5).active{ 
                flex-direction: column-reverse;
            }
            a:nth-child(6).active{ 
                flex-direction: column-reverse;
            }
             
 
    } 
    
    .social-div.active a:nth-child(1){
        animation: popUp 1s forwards ;
    }
    .social-div.active a:nth-child(2){
        animation: popUp 1s .2s forwards ;
    }
    .social-div.active a:nth-child(3){
        animation: popUp 1s .3s forwards ;
    }
    .social-div.active a:nth-child(4){
        animation: popUp 1s .4s forwards ;
    }
    .social-div.active a:nth-child(5){
        animation: popUp 1s .5s forwards ;
    }
    .social-div.active a:nth-child(6){
        animation: popUp 1s .6s forwards ;
    } 

    
}


 
 .processing{
     position: fixed;
     top: 0;left: 0;height: 100vh;
     width: 100%;
     overflow: hidden;
     background-color: rgba(255, 255, 255, 0.466);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 14;
     opacity: 0;
     visibility: hidden;

     h4{  
         background: var(--linear-gradient);
         height: 200px;
         width: 200px; 
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 30px;
         font-weight: 700;
         -webkit-text-stroke: 1px #859ec0;
         -webkit-background-clip: text;
         color: transparent; 
         position: relative; 
     }

     ::after{
         content: "";
         position: absolute;
         height: 100%;
         width: 100%;
         background: var(--linear-gradient);
         padding: 10px;
         z-index: -1;
         border-radius: 68% 32% 32% 68% / 39% 40% 70% 61%;
         animation: rotateClock 5s linear infinite;
         border: 2px solid #859ec0;
     }
 }



 
.navigation.hide{
    z-index: -1 !important;
}

@media screen and (max-width:900px){
    .content{
        flex-direction: column-reverse; 
    }

    .image{    

        
        .contact-div{
            flex-direction: row !important;
        }
 
        
        .image-back.active{
            position: fixed !important; 
            height: 1000px !important;
            width: 1000px !important;   
            top: -10vh !important;
            overflow: hidden !important;
            right: -30vh !important;
            z-index: 10 !important; 
            opacity: 1 !important;
            animation-play-state: paused !important;
        }
 
    }
 
.chatBack{
    height: 100vh !important;
    width: 100% !important; 
}
 


}

@media (max-width:700px){  

    .contact-form{
        flex-direction: column;  
        
        .input-feilds{

            input{ 
            width: 100% !important;
        }
    }
}

}
  
 

@media (max-width:1050px) and (min-width:900px) {  
    .contact-form{
        flex-direction: column;   
}

}
  