 

.copyright{
    position: relative;
    bottom: 0; 
    width: 100%; 
    padding: 20px;
    text-align: center;
    color: rgb(219, 148, 157);
    transition: all .3s ease .5s; 

    p{
        font-size: 20px;
        font-weight: 600;

        a{
            color: rgb(119, 165, 252); 
 
        }
    }
}

.copyright.active{
    z-index: 10;
    position: absolute;
    bottom: 30px; 
    opacity: 0;
    animation: toUp .5s forwards linear;
}

 

  
 
.navigation.hide{
    z-index: -1 !important;
}

/*****************************************
this is part of services of css
*****************************************/

.services{  
    
    h2{
        text-align: center;
        padding: 25px 0px;
        color: rgb(102, 102, 102);
        text-transform: capitalize;
        -webkit-text-stroke: 1px rgb(75, 75, 75);  
    }
    
    .card-div{ 
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;   
        margin: auto;
        padding-bottom: 100px ;
        flex-wrap: wrap; 
        max-width: 1500px;
        transition: all .3s ;

        .card{  
            border: 2px solid rgba(219, 165, 165, 0.644);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 20px 50px 10px; 
            transition: all .3s ;
            border-radius: 3px; 
            width: 350px;
            position: relative;
            margin: 20px;
            overflow: hidden; 
            box-shadow: var(--box-shadow); 

            .card-icon{ 
                font-size: 30px; 
                font-weight: bold;
                background : linear-gradient(15deg, rgba(255, 248, 145, 0.39),rgba(255, 182, 188, 0.959),rgb(201, 200, 255),rgba(142, 247, 255, 0.637));
                color: transparent;
                -webkit-background-clip: text;
                -webkit-text-stroke: 1px rgba(150, 51, 51, 0.616);
                transition: all .2s .7s;
            }

            .card-header{ 
                font-size: 20px;
                padding: 5px;
                color: rgb(163, 159, 99) ;
                -webkit-text-stroke: 1px rgb(146, 142, 88) ;
            }

            .card-body{
                text-align: center;  
                color: #6e6e6e ;
                font-size: 18px;
            }
        }

        .card::before{
            content: "";
            position: absolute;
            height: 700px;
            width: 700px;
            background: rgba(248, 247, 247, 0.178); 
            filter: blur(5px);
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            border-radius: 50%; 
            transition: all 1s;
        }

        :hover::before{
            transform: scale(.5);
        } 
        :hover:nth-child(1) .card-icon{ 
            color: rgb(163, 159, 99) ;
            -webkit-text-stroke: 1px rgb(146, 142, 88) ;
        } 
        :hover:nth-child(2) .card-icon{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        } 
        :hover:nth-child(3) .card-icon{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        } 
        :hover:nth-child(4) .card-icon{ 
            color: rgb(68, 123, 126) ;
            -webkit-text-stroke: 1px rgb(71, 123, 126) ;
        } 
        :hover:nth-child(5) .card-icon{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        } 
        :hover:nth-child(6) .card-icon{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        } 


        :nth-child(1) .card-header{ 
            color: rgb(163, 159, 99) ;
            -webkit-text-stroke: 1px rgb(146, 142, 88) ;
        }
        :nth-child(2) .card-header{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        }
        :nth-child(3) .card-header{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        }
        :nth-child(4) .card-header{ 
            color: rgb(68, 123, 126) ;
            -webkit-text-stroke: 1px rgb(71, 123, 126) ;
        }
        :nth-child(5) .card-header{ 
            color: rgb(129, 128, 165) ;
            -webkit-text-stroke: 1px rgb(116, 115, 151);
        }
        :nth-child(6) .card-header{ 
            color: rgb(209, 124, 129) ;
            -webkit-text-stroke: 1px rgb(182, 121, 125) ; 
        }


    }
 
}




  

@media (max-width:900px){
    .content{
        flex-direction: column-reverse;
        margin-top: -20px;
    }

    .image{  
        width: 230px !important; 

        .image-back{ 
            width: 230px !important;
            height: 230px !important;
        }

        
        .image-back.active{
            position: fixed !important; 
            height: 1000px !important;
            width: 1000px !important;   
            top: -10vh !important;
            overflow: hidden !important;
            right: -30vh !important;
            z-index: 10 !important; 
            opacity: 1 !important;
            animation-play-state: paused !important;
        }

     
        img{
            width: 230px !important;  
        } 
    }


    .chatBack{
        height: 100vh !important;
        width: 100% !important; 
    }
     
     
.setting.hide{
    z-index: -1;
}
 
    
    
.services{
    .card-div{  
        flex-direction: column; 

        .card{  
            width: 80%;
        }
    }
}


}



@media (max-width:700px){
    .buttons{
        flex-direction: column;

        button{
            width: 100% !important;
        }
    }
    .card{  
        width: 90% !important;
    }


}
  