.second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-div .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  min-height: 750px;
  height: 90vh;
}

.second-div .content .accupation {
  padding: 5px;
}

.second-div .content .accupation .hey {
  font-size: 20px;
  font-weight: 700;
  color: #77a5fc;
  text-transform: capitalize;
  padding: 0px 10px;
}

.second-div .content .accupation h1 {
  color: transparent;
  font-size: 35px;
  background: linear-gradient(15deg, rgba(153, 146, 54, 0.794), rgba(206, 89, 99, 0.959), #74966f, rgba(58, 242, 255, 0.849));
  -webkit-background-clip: text;
  padding: 10px;
  -webkit-text-stroke: 1px rgba(238, 148, 148, 0.603);
}

.second-div .content .accupation .we-are {
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 700;
  color: #77a5fc;
}

.second-div .content .accupation .we-are .type_text {
  font-size: 25px;
  color: transparent;
  background: linear-gradient(15deg, rgba(54, 85, 153, 0.794), rgba(86, 155, 65, 0.959), #6c6eeb, rgba(255, 64, 58, 0.849));
  -webkit-background-clip: text;
}

.second-div .content .accupation .buttons {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-div .content .accupation .buttons button {
  width: 200px;
  font-size: 19px;
  background-color: transparent;
  padding: 7px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  margin: 10px 5px;
  position: relative;
  -webkit-transition: all .3s .3s linear;
  transition: all .3s .3s linear;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
}

.second-div .content .accupation .buttons button a {
  border: none !important;
}

.second-div .content .accupation .buttons :nth-child(1) {
  color: #77a5fc;
  border: 2px solid #ee808e;
}

.second-div .content .accupation .buttons :nth-child(2) {
  color: #ee808e;
  border: 2px solid #77a5fc;
}

.second-div .content .accupation .buttons ::after {
  position: absolute;
  content: "";
  top: -250%;
  right: 0%;
  width: 150px;
  -webkit-transform: scale(0);
          transform: scale(0);
  line-height: 30px;
  text-transform: uppercase;
  height: 150px;
  border: 2px solid rgba(246, 246, 246, 0.76);
  border-radius: 50%;
  background-color: rgba(180, 234, 255, 0.404);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.second-div .content .accupation .buttons :hover::after {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.second-div .content .accupation .buttons :hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #a39f63 !important;
}

.second-div .content .accupation .go-to-down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.second-div .content .accupation .go-to-down .parent-go-to-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 15px;
  opacity: .4;
  -webkit-animation: toDown 2s linear infinite alternate;
          animation: toDown 2s linear infinite alternate;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

@-webkit-keyframes toDown {
  100% {
    -webkit-transform: translateY(30px) scale(1.4);
            transform: translateY(30px) scale(1.4);
    opacity: .4;
  }
}

@keyframes toDown {
  100% {
    -webkit-transform: translateY(30px) scale(1.4);
            transform: translateY(30px) scale(1.4);
    opacity: .4;
  }
}

.second-div .content .accupation .go-to-down .parent-go-to-down div {
  width: 3px;
  height: 3px;
  background-color: #444444;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
  margin: 1px;
}

.second-div .content .accupation .go-to-down .parent-go-to-down:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.second-div .content .accupation .go-to-down :nth-child(2) {
  background: transparent !important;
}

.second-div .content .image {
  border-radius: 50%;
  width: 300px;
  border-bottom: 25px solid rgba(255, 205, 205, 0.26);
  position: relative;
}

.second-div .content .image .image-back {
  width: 300px;
  height: 300px;
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 68% 32% 32% 68% / 39% 30% 70% 61%;
  background: linear-gradient(15deg, rgba(255, 248, 145, 0.39), rgba(255, 182, 188, 0.959), #c9c8ff, rgba(142, 247, 255, 0.637));
  -webkit-animation: rotateClock 60s linear infinite alternate;
          animation: rotateClock 60s linear infinite alternate;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0.3;
}

@-webkit-keyframes rotateClock {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateClock {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.second-div .content .image img {
  width: 300px;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: none;
}

.second-div .content .image img:hover ~ .image-back {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #db949d;
  -webkit-transition: all 3s ease .5s;
  transition: all 3s ease .5s;
}

.copyright p {
  font-size: 20px;
  font-weight: 600;
}

.copyright p a {
  color: #77a5fc;
}

.copyright.active {
  z-index: 10;
  position: fixed;
  top: 85vh;
  opacity: 0;
  -webkit-animation: toUp 1s forwards ease-in-out;
          animation: toUp 1s forwards ease-in-out;
}

@-webkit-keyframes toUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes toUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.effects #effect8 {
  position: fixed;
  height: 20px;
  width: 20px;
  top: -50px;
  z-index: -1;
  left: 900px;
  -webkit-transition: all linear 100ms;
  transition: all linear 100ms;
  border-radius: 50%;
  background: #db949d;
  mix-blend-mode: multiply;
  -webkit-animation: rotateClock 30s linear infinite alternate;
          animation: rotateClock 30s linear infinite alternate;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
}

.setting {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  z-index: 11;
}

.setting i {
  z-index: 11;
  background: linear-gradient(15deg, rgba(155, 148, 63, 0.39), rgba(102, 186, 255, 0.959), #7c9c61, rgba(142, 247, 255, 0.637));
  color: transparent;
  -webkit-background-clip: text;
  border-radius: 3px;
  font-size: 20px;
  border: 2px solid rgba(246, 246, 246, 0.76);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
}

.setting :hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #d4f5ff;
}

.setting .items :nth-child(1) {
  position: fixed;
  bottom: 20px;
  opacity: 0;
  right: 90px;
  background: linear-gradient(15deg, rgba(218, 217, 215, 0.39), rgba(52, 56, 59, 0.959), #1b3505, rgba(255, 255, 255, 0.637));
  color: transparent;
  -webkit-background-clip: text;
}

.setting .items :nth-child(2) {
  position: fixed;
  bottom: 70px;
  opacity: 0;
  color: transparent;
  -webkit-background-clip: text;
  background: linear-gradient(15deg, rgba(218, 217, 215, 0.39), rgba(52, 56, 59, 0.959), #1b3505, rgba(255, 255, 255, 0.637));
  right: 70px;
}

.setting .items :nth-child(3) {
  position: fixed;
  opacity: 0;
  bottom: 90px;
  right: 20px;
}

.setting .items.active :nth-child(1) {
  -webkit-animation: toLeft .3s linear forwards;
          animation: toLeft .3s linear forwards;
}

.setting .items.active :nth-child(2) {
  -webkit-animation: toUpLeft .3s .1s  linear forwards;
          animation: toUpLeft .3s .1s  linear forwards;
}

.setting .items.active :nth-child(3) {
  -webkit-animation: toUp .3s .2s linear forwards;
          animation: toUp .3s .2s linear forwards;
}

.setting .items::after {
  content: "";
  background-color: transparent;
  position: fixed;
  bottom: -50px;
  right: -50px;
  font-size: 25px;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  z-index: -1;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: linear-gradient(15deg, rgba(255, 248, 145, 0.39), rgba(255, 182, 188, 0.959), #c9c8ff, rgba(142, 247, 255, 0.637));
}

.setting .items.active::after {
  -webkit-transform: scale(3.3);
          transform: scale(3.3);
}

@-webkit-keyframes toUpLeft {
  0% {
    -webkit-transform: translateY(50px) translateX(50px);
            transform: translateY(50px) translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
    opacity: 1;
  }
}

@keyframes toUpLeft {
  0% {
    -webkit-transform: translateY(50px) translateX(50px);
            transform: translateY(50px) translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
    opacity: 1;
  }
}

#demo {
  color: gray;
  padding: 10px 30px;
  font-size: 20px;
}

@media (max-width: 900px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: -20px;
  }
  .image {
    width: 230px !important;
  }
  .image .image-back {
    width: 230px !important;
    height: 230px !important;
  }
  .image .image-back.active {
    position: fixed !important;
    height: 1000px !important;
    width: 1000px !important;
    z-index: 9 !important;
    opacity: 1 !important;
  }
  .image img {
    width: 230px !important;
  }
}

@media (max-width: 700px) {
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttons button {
    width: 100% !important;
  }
}
/*# sourceMappingURL=index.css.map */