.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #db949d;
  -webkit-transition: all .3s ease .5s;
  transition: all .3s ease .5s;
}

.copyright p {
  font-size: 20px;
  font-weight: 600;
}

.copyright p a {
  color: #77a5fc;
}

.copyright.active {
  z-index: 10;
  position: absolute;
  bottom: 30px;
  opacity: 0;
  -webkit-animation: toUp .5s forwards linear;
          animation: toUp .5s forwards linear;
}

.navigation.hide {
  z-index: -1 !important;
}

/*****************************************
this is part of services of css
*****************************************/
.services h2 {
  text-align: center;
  padding: 25px 0px;
  color: #666666;
  text-transform: capitalize;
  -webkit-text-stroke: 1px #4b4b4b;
}

.services .card-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.services .card-div .card {
  border: 2px solid rgba(219, 165, 165, 0.644);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px 50px 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 3px;
  width: 350px;
  position: relative;
  margin: 20px;
  overflow: hidden;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.services .card-div .card .card-icon {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(15deg, rgba(255, 248, 145, 0.39), rgba(255, 182, 188, 0.959), #c9c8ff, rgba(142, 247, 255, 0.637));
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px rgba(150, 51, 51, 0.616);
  -webkit-transition: all .2s .7s;
  transition: all .2s .7s;
}

.services .card-div .card .card-header {
  font-size: 20px;
  padding: 5px;
  color: #a39f63;
  -webkit-text-stroke: 1px #928e58;
}

.services .card-div .card .card-body {
  text-align: center;
  color: #6e6e6e;
  font-size: 18px;
}

.services .card-div .card::before {
  content: "";
  position: absolute;
  height: 700px;
  width: 700px;
  background: rgba(248, 247, 247, 0.178);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.services .card-div :hover::before {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.services .card-div :hover:nth-child(1) .card-icon {
  color: #a39f63;
  -webkit-text-stroke: 1px #928e58;
}

.services .card-div :hover:nth-child(2) .card-icon {
  color: #8180a5;
  -webkit-text-stroke: 1px #747397;
}

.services .card-div :hover:nth-child(3) .card-icon {
  color: #d17c81;
  -webkit-text-stroke: 1px #b6797d;
}

.services .card-div :hover:nth-child(4) .card-icon {
  color: #447b7e;
  -webkit-text-stroke: 1px #477b7e;
}

.services .card-div :hover:nth-child(5) .card-icon {
  color: #8180a5;
  -webkit-text-stroke: 1px #747397;
}

.services .card-div :hover:nth-child(6) .card-icon {
  color: #d17c81;
  -webkit-text-stroke: 1px #b6797d;
}

.services .card-div :nth-child(1) .card-header {
  color: #a39f63;
  -webkit-text-stroke: 1px #928e58;
}

.services .card-div :nth-child(2) .card-header {
  color: #8180a5;
  -webkit-text-stroke: 1px #747397;
}

.services .card-div :nth-child(3) .card-header {
  color: #d17c81;
  -webkit-text-stroke: 1px #b6797d;
}

.services .card-div :nth-child(4) .card-header {
  color: #447b7e;
  -webkit-text-stroke: 1px #477b7e;
}

.services .card-div :nth-child(5) .card-header {
  color: #8180a5;
  -webkit-text-stroke: 1px #747397;
}

.services .card-div :nth-child(6) .card-header {
  color: #d17c81;
  -webkit-text-stroke: 1px #b6797d;
}

@media (max-width: 900px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: -20px;
  }
  .image {
    width: 230px !important;
  }
  .image .image-back {
    width: 230px !important;
    height: 230px !important;
  }
  .image .image-back.active {
    position: fixed !important;
    height: 1000px !important;
    width: 1000px !important;
    top: -10vh !important;
    overflow: hidden !important;
    right: -30vh !important;
    z-index: 10 !important;
    opacity: 1 !important;
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
  }
  .image img {
    width: 230px !important;
  }
  .chatBack {
    height: 100vh !important;
    width: 100% !important;
  }
  .setting.hide {
    z-index: -1;
  }
  .services .card-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .card-div .card {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttons button {
    width: 100% !important;
  }
  .card {
    width: 90% !important;
  }
}
/*# sourceMappingURL=index.css.map */